body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    
    
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1670px;
    }
}




.carousel {
	position: relative; /* Keeps captions contained */
  }
  
  #envelope {
	padding: 5px;
  }
  
  
  
  .carousel-caption h1,
  .carousel-caption p {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
	padding: 0.8rem; /* Consistent spacing */
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
	filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.8));
  }

  .carousel-image-wrapper{
	border-radius: 30px; 
	overflow: hidden;
	position: relative;
  }
  
  @media (max-width: 540px) {
	.carousel .container {
		padding: 0px;
		width: 100%;
		
	}

	.carousel-caption {
	  width: 100%; /* Full width of parent */
	  left: 50%; /* Center horizontally */
	  transform: translateX(-50%); /* Offset to true center */
	  text-align: center; /* Center text */
	 
	  font-size: medium;
	}

	.carousel-buttons, .btn {
		font-size: small;
	}
	
	.carousel-image-wrapper {
		border-radius: 0px; 

	  }
	  
  }

  @media (max-width: 440px) {
	.carousel-caption {
		font-size: smaller;
		
	}

	

	.carousel-img {
		height: 25%;
		border-radius: 0%;
		overflow: visible;
	}

	
  }


